[mass]
connection_string = sqlite3:db=../data/plain.db;@pool_size=16
# CZCE, DCE, SHFE, CFFEX
exchange_id = 
pub_addr = >tcp://127.0.0.1:9990
log_cfg = log.cfg


[cata_md]
flow_path = ./mdflow/

# simnow
front_address = tcp://180.168.146.187:10010
broker_id = 9999
user_id = 
password = 

# tcp, udp or multi
protocol = tcp


